* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container {
  background: rgba(255, 255, 255, 0.15);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 400px;
}

.title {
  color: #fff;
  margin-bottom: 20px;
}

.search-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

#city-input {
  padding: 10px;
  border: none;
  border-radius: 8px 0 0 8px;
  outline: none;
  width: 70%;
}

#search-btn {
  background: #4a90e2;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
}

#search-btn:hover {
  background: #357ab7;
}

#weather-info {
  color: #fff;
}

#error-message {
  color: #ff4b5c;
  margin-top: 10px;
}

.hidden {
  display: none;
}
